* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

@font-face {
  font-family: "Anton";
  src: url("../assets/fonts/Anton/Anton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope/Manrope-Regular.ttf") format("truetype");
}